.myFloatingBtn {
  position: fixed;
  bottom: 7vh;
  right: 17vw;
  padding: 0.3rem 1rem;
  color: #ff7f50;
  background: #1c1c1c;
  border: 1px solid #ff7f50;
  border-radius: 0.8rem 0.5rem;
  text-shadow: 0.125rem 0.125rem 0.125rem #0a0a0a;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease;
}
.myFloatingBtn:hover {
  background: rgba(255, 127, 80, 0.8);
  border: 1px solid #a0a0a0;
  color: #0a0a0a;
  text-shadow: 0.125rem 0.125rem 0.125rem #a0a0a0;
}
@media only screen and (max-width: 1440px) {
  .myFloatingBtn {
    right: 14vw;
  }
}
@media only screen and (max-width: 1360px) {
  .myFloatingBtn {
    display: none;
  }
}