.myBtn {
  position: fixed;
  bottom: 4%;
  right: 16%;
  display: none;
  padding: 0.3rem 1rem;
  color: #ff6600;
  background: #1c1c1c;
  border: 1px solid #ff6600;
  border-radius: 0.8rem 0.5rem;
  text-shadow: 0.125rem 0.125rem 0.125rem #0a0a0a;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease;
}
.myBtn:hover {
  background: rgba(255, 102, 0, 0.8);
  border: 1px solid #a0a0a0;
  color: #0a0a0a;
  text-shadow: 0.125rem 0.125rem 0.125rem #a0a0a0;
}
@media only screen and (max-width: 1200px) and (orientation: portrait) {
  .myBtn:visible {
    display: none;
  }
}
.myBtn:visible {
  display: block;
}