.myModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(10, 10, 10, 0.9);
  z-index: 1;
  opacity: 1;
  animation: fade-out 0.3s 0s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}
.myModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fade-in 0.3s 0s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.myModalContent {
  padding: 1.5rem;
  background: #1c1c1c;
  box-shadow: 0 0 0.2rem #313131;
  border: 0.125rem solid #ff7f50;
  border-radius: 1rem 0.5rem;
  width: 80vmin;
  min-width: 240px;
  min-height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1200px) and (orientation: landscape) {
  .myModalContent {
    width: 80vmin;
    min-width: 240px;
    min-height: 240px;
  }
}
@media only screen and (max-width: 1200px) and (orientation: portrait) {
  .myModalContent {
    width: 80vmin;
  }
}
.myModalContent h2 {
  width: 100%;
  text-align: center;
  word-break: break-word;
  overflow-wrap: break-word;
  text-shadow: 0.125rem 0.125rem 0.125rem #0a0a0a;
}
.myModalContent form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.myModalContent form div:not(:last-child) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 80%;
  min-height: 18vh;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 33vh;
  overflow-y: auto;
  padding: 1.1rem 0.4rem;
  border: 1px solid #ff7f50;
  border-radius: 0.8rem 0.5rem;
  background: #0a0a0a;
  opacity: 0;
  animation: fade-in 0.3s 0s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 1200px) and (orientation: portrait) {
  .myModalContent form div:not(:last-child) {
    width: 98%;
  }
}
.myModalContent form div:not(:last-child) div:not(:last-child) {
  width: 98%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: none;
  min-height: -moz-max-content;
  min-height: max-content;
  overflow: hidden;
}
.myModalContent form div:not(:last-child) div:not(:last-child) button {
  scale: 0.8;
}
.myModalContent form div:last-child {
  width: 100%;
  margin: 1rem 0 2rem 0;
  display: flex;
  justify-content: space-around;
}
.myModalContent form div:last-child button {
  scale: 0.9;
}