@import '../styles/colors';
@import '../styles/animations';
@import '../styles/auth';

body {
    overflow-x: hidden;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    background-color: $color-black;
    color: $color-gray;

    #root {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .App {
        width: 50vw;
        height: 100vh;
        position: relative;

        @media only screen and (max-width: 1400px) {
            width: 95vw;
        }

        .message {
            position: absolute;
            top: 90%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: fit-content;
            text-align: center;
            z-index: 1;

            @media only screen and (max-width: 1400px) and (orientation: portrait) {
                top: 80%;
            }
        }

        .welcomeItems {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 55vmin;
            box-shadow: 0 0 0.2rem $color-gray-darker;
            border-radius: 0.5rem;
            background: $color-dark url('../assets/logo/logo.svg') no-repeat center center;

            @media only screen and (max-width: 1400px) and (orientation: landscape) {
                width: 100%;
            }

            @media only screen and (max-width: 1400px) and (orientation: portrait) {
                width: 100%;
            }

            & :first-child {
                scale: 2.7;
                line-height: 2rem;
                @include animate-slide-down(1s, 0.5s);

                @media only screen and (max-width: 1200px) {
                    scale: 1.5;
                }
            }

            & :last-child {
                scale: 1.4;
                @include animate-slide-up(2s, 0.5s);

                @media only screen and (max-width: 1200px) {
                    scale: 1;
                }
            }
        }
    }
}
