@import '../styles/colors';

body {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    background-color: $color-black;
    color: $color-gray;

    @media only screen and (max-width: 1200px) and (orientation: landscape) {
    }

    @media only screen and (max-width: 1200px) and (orientation: portrait) {
    }

    #root {
        display: flex;
        justify-content: center;
    }

    .App {
        width: 50vw;
        position: relative;

        hr {
            border: $color-ivory 1px solid;
            margin: 0.5rem 0;
        }
    }
}
