@import '../styles/colors';

.controlPanel {
    position: fixed;
    top: 0;
    left: 50;
    width: 50vw;
    height: 13.2rem;
    padding: 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
    background: $color-dark;
    box-shadow: 0 0 0.2rem $color-gray-darker;
    z-index: 1;

    @media only screen and (max-width: 1440px) and (orientation: landscape) {
        width: 60vw;
        box-shadow: 0 0 0.2rem $color-gray-darker;
    }

    @media only screen and (max-width: 1360px) and (orientation: landscape) {
        height: 13.3rem;
        padding: 0.5rem 1rem;
        width: 95vw;
        box-shadow: 0 0 0.2rem $color-gray-darker;
    }

    @media only screen and (max-width: 1360px) and (orientation: portrait) {
        height: 13.4rem;
        width: 95vw;
        box-shadow: 0 0 0.2rem $color-gray-darker;
    }

    hr {
        border: $color-ivory 1px solid;
        margin: 0.8rem 0 0.5rem 0;
        box-shadow: 0 0 0.5rem $color-black;
    }

    &__Buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;

        button {
            @media only screen and (max-width: 1200px) and (orientation: portrait) {
                font-size: smaller;
            }
        }
    }

    &__Settings {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        & :nth-child(1) {
            flex-basis: 100%;
        }

        & :nth-child(2) {
            flex-basis: 49%;
        }

        & :nth-child(3) {
            flex-basis: 49%;
        }

        & :nth-child(4) {
            flex-basis: 49%;
        }
    }
}
