@import '../styles/colors';

.controlPanel {
    position: fixed;
    top: 0;
    left: 50;
    width: 50vw;
    height: 13rem;
    padding: 1.5rem;
    border-radius: 0 0 0.5rem 0.5rem;
    background: $color-dark url('../assets/logo/logo.svg') no-repeat 100% -10% / 16%;
    box-shadow: 0 0 0.2rem $color-gray-darker;
    z-index: 1;

    & input,
    select,
    button {
        box-shadow: 0 0 0.5rem $color-black;
    }

    @media only screen and (max-width: 1400px) and (orientation: landscape) {
        width: 95vw;
    }

    @media only screen and (max-width: 1400px) and (orientation: portrait) {
        width: 95vw;
        height: 14rem;
    }

    hr {
        border: $color-ivory 1px solid;
        margin: 0.8rem 0 0.5rem 0;
        box-shadow: 0 0 0.5rem $color-black;
    }

    .controlPanel__Buttons {
        margin: 0 25% 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;

        @media only screen and (max-width: 1440px) and (orientation: landscape) {
            margin: 0 15% 0 0;

            button {
                font-size: small;
            }
        }

        @media only screen and (max-width: 1200px) and (orientation: portrait) {
            margin: 0 15% 0 0;

            button {
                font-size: smaller;
            }
        }
    }
}
