@import '../styles/colors';

::-webkit-scrollbar {
    width: 1rem;
    background-color: rgba($color: $color-black, $alpha: 0.5);
    border-radius: 1rem 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: $color-dark;
    border-radius: 1rem 0.5rem;
}

::-webkit-scrollbar-button {
    display: none;
}
