@import '../styles/colors';
@import '../styles/userAreaImage';
@import '../styles/userAreaTitle';
@import '../styles/userAreaQuestions';

.userArea {
    position: relative;
    user-select: none;
    width: 100%;
    min-height: 100%;
    padding: 1rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    background: url('../assets/logo/logo.svg') no-repeat bottom right / 33vmin $color-dark;
    box-shadow: 0 0 0.2rem $color-gray-darker;
    border-radius: 0.5rem;

    a {
        position: absolute;
        bottom: 1vmin;
        right: 4vmin;
        display: block;
        color: $color-orange;
        font-size: small;
        text-decoration: none;
        text-shadow: none;
        transition: color 0.3s;

        @media only screen and (max-width: 1200px) and (orientation: portrait) {
            font-size: smaller;
            margin: 0 0.2rem 0 0;
        }

        &:hover {
            color: $color-gray;
        }
    }
}
