@import '../styles/colors';
@import '../styles/animations';

.userArea {
    position: relative;
    user-select: none;
    width: 100%;
    min-height: 100%;
    padding: 1.5rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: url('../assets/logo/logo.svg') no-repeat bottom right / 33vmin $color-dark;
    box-shadow: 0 0 0.2rem $color-gray-darker;
    border-radius: 0.5rem;

    .imageWrapper {
        position: relative;
        width: 100%;
        padding-top: calc(100% / 3);
        border: 0.125rem solid $color-orange;
        box-shadow: 0 0 0.5rem $color-black;
        background-color: $color-black;
        border-radius: 1rem 0.5rem;

        @include fade(1s, 'in', 0.5s);

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 1rem;
            border: none;
            border-radius: 1.8rem 1.3rem;

            &::before {
                color: $color-orange;
                font-size: large;
                opacity: 0.5;
                text-align: center;
                content: 'Завантаження...';
                position: absolute;
                width: 100%;
                top: 15%;
                left: 50%;
                transform: translate(-50%, -50%);

                @media only screen and (max-width: 400px) and (orientation: portrait) {
                    font-size: smaller;
                }
            }
        }
    }

    .titleWrapper {
        width: 100%;
        text-align: center;

        @include fade(1s, 'in', 1s);

        h1 {
            text-shadow: 0.125rem 0.125rem 0.125rem $color-black;
            font-size: 1.6rem;
        }
    }

    .questionsWrapper {
        width: 100%;
        padding: 0 0 25vmin 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .questAnswerGroup {
            width: 100%;
            height: fit-content;
            padding: 3rem;
            color: $color-gray-dark;
            border: 0.125rem solid $color-orange;
            box-shadow: 0 0 0.5rem $color-black;
            background-color: $color-black;
            border-radius: 1rem 0.5rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 1rem;

            @media screen and (max-width: 900px) {
                padding: 2rem;
            }

            @include fade(1s, 'in', 1.5s);

            .questions {
                width: 100%;
            }

            form {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
            }
            .answers {
                width: 100%;
            }

            .buttons {
                align-self: flex-end;
                @include fade(1s, 'in', 2s);
            }
        }

        .emptyQuestions {
            width: 100%;
            text-align: center;

            @include fade(1s, 'in', 1.5s);
        }
    }

    a {
        position: absolute;
        bottom: 1vmin;
        right: 4vmin;
        display: block;
        color: $color-orange;
        font-size: small;
        text-decoration: none;
        text-shadow: none;
        transition: color 0.3s;

        @media only screen and (max-width: 1200px) and (orientation: portrait) {
            font-size: smaller;
            margin: 0 0.2rem 0 0;
        }

        &:hover {
            color: $color-gray;
        }
    }
}
