@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  bottom: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
select,
option,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

button {
  background-color: transparent;
  cursor: pointer;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url(../assets/fonts/Inter-VariableFont.ttf) format("truetype");
}
* {
  font-family: "Inter", sans-serif;
}

.welcomeModal {
  width: 50vmin;
  margin: 0 auto;
  padding: 15% 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../assets/images/google.svg") no-repeat center top/50%;
}
@media only screen and (max-width: 1200px) {
  .welcomeModal {
    background: url("../assets/images/google.svg") no-repeat center top/50%;
    width: 100%;
    padding: 20% 0 0 0;
  }
}
.welcomeModal :first-child {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcomeModal h2 {
  text-align: center;
  text-shadow: 0.1rem 0.1rem 0.1rem maroon;
  margin: 0 0 2rem 0;
}
.welcomeModal button {
  line-height: 3rem;
  margin: 2rem;
}
@media only screen and (max-width: 600px) and (orientation: portrait) {
  .welcomeModal button {
    line-height: 2rem;
  }
}
.welcomeModal .myAuthContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  min-width: 240px;
}
@media screen and (max-width: 1200px) {
  .welcomeModal .myAuthContent {
    gap: 0.6rem;
  }
}
.welcomeModal .myAuthContent img {
  width: 40%;
  height: 40%;
  padding: 0.2rem;
  border: 1px solid #ff7f50;
  border-radius: 1rem 0.5rem;
  box-shadow: 0 0 0.5rem #0a0a0a;
}
.welcomeModal .myAuthContent p {
  padding: 0 0.3rem;
  text-align: center;
  text-shadow: 0.1rem 0.1rem 0.1rem #0a0a0a;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.welcomeModal .myAuthContent div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcomeModal .myAuthContent div button {
  line-height: 3rem;
  margin: 0 0.5rem;
}

body {
  overflow-x: hidden;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background-color: #0a0a0a;
  color: #a0a0a0;
}
body #root {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .App {
  width: 50vw;
  height: 100vh;
  position: relative;
}
@media only screen and (max-width: 1400px) {
  body .App {
    width: 95vw;
  }
}
body .App .message {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  z-index: 1;
}
@media only screen and (max-width: 1400px) and (orientation: portrait) {
  body .App .message {
    top: 80%;
  }
}
body .App .welcomeItems {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 55vmin;
  box-shadow: 0 0 0.2rem #313131;
  border-radius: 0.5rem;
  background: #1c1c1c url("../assets/logo/logo.svg") no-repeat center center;
}
@media only screen and (max-width: 1400px) and (orientation: landscape) {
  body .App .welcomeItems {
    width: 100%;
  }
}
@media only screen and (max-width: 1400px) and (orientation: portrait) {
  body .App .welcomeItems {
    width: 100%;
  }
}
body .App .welcomeItems :first-child {
  scale: 2.7;
  line-height: 2rem;
  opacity: 0;
  transform: translateY(-50px);
  animation: fadeIn 1s ease-in-out 0.5s forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media only screen and (max-width: 1200px) {
  body .App .welcomeItems :first-child {
    scale: 1.5;
  }
}
body .App .welcomeItems :last-child {
  scale: 1.4;
  opacity: 0;
  transform: translateY(100px);
  animation: slideUp 2s ease-in-out 0.5s forwards;
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media only screen and (max-width: 1200px) {
  body .App .welcomeItems :last-child {
    scale: 1;
  }
}

.controlPanel {
  position: fixed;
  top: 0;
  left: 50;
  width: 50vw;
  height: 13.2rem;
  padding: 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
  background: #1c1c1c;
  box-shadow: 0 0 0.2rem #313131;
  z-index: 1;
}
@media only screen and (max-width: 1400px) and (orientation: landscape) {
  .controlPanel {
    width: 95vw;
    box-shadow: 0 0 0.2rem #313131;
  }
}
@media only screen and (max-width: 1400px) and (orientation: portrait) {
  .controlPanel {
    width: 95vw;
    box-shadow: 0 0 0.2rem #313131;
  }
}
.controlPanel hr {
  border: #fffff0 1px solid;
  margin: 0.8rem 0 0.5rem 0;
  box-shadow: 0 0 0.5rem #0a0a0a;
}
.controlPanel__Buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
@media only screen and (max-width: 1200px) and (orientation: portrait) {
  .controlPanel__Buttons button {
    font-size: smaller;
  }
}
.controlPanel__Settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.controlPanel__Settings :nth-child(1) {
  flex-basis: 100%;
}
.controlPanel__Settings :nth-child(2) {
  flex-basis: 49%;
}
.controlPanel__Settings :nth-child(3) {
  flex-basis: 49%;
}
.controlPanel__Settings :nth-child(4) {
  flex-basis: 49%;
}

.postList {
  position: relative;
  min-height: 15rem;
  margin: 14rem 0 0 0;
  padding: 1rem;
  text-shadow: 2px 2px 2px #0a0a0a;
  background: url("../assets/logo/logo.svg") no-repeat bottom right/30% #1c1c1c;
  box-shadow: 0 0 0.2rem #313131;
  border-radius: 0.5rem;
}
@media only screen and (max-width: 600px) {
  .postList {
    background: url("../assets/logo/logo.svg") no-repeat bottom right/50% #1c1c1c;
  }
}
.postList a {
  display: block;
  color: #ff7f50;
  text-align: right;
  margin: 0 1rem 0 0;
  font-size: small;
  text-decoration: none;
  text-shadow: none;
  transition: color 0.3s;
}
@media only screen and (max-width: 1200px) and (orientation: portrait) {
  .postList a {
    font-size: smaller;
    margin: 0 0.2rem 0 0;
  }
}
.postList a:hover {
  color: #a0a0a0;
}
.postListImage {
  position: relative;
  width: 100%;
  padding-top: 33.3333333333%;
  border: 0.125rem solid #ff7f50;
  box-shadow: 0 0 0.5rem #0a0a0a;
  background-color: #0a0a0a;
  border-radius: 1rem 0.5rem;
  cursor: pointer;
}
.postListImage::before {
  color: #ff7f50;
  font-size: large;
  opacity: 0.5;
  text-align: center;
  content: "Триває обробка...";
  position: absolute;
  width: 100%;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 400px) and (orientation: portrait) {
  .postListImage::before {
    font-size: smaller;
  }
}
.postListImage::after {
  color: #a0a0a0;
  text-shadow: 0.1rem 0.1rem 0.1rem #0a0a0a;
  opacity: 0.8;
  text-align: center;
  content: "Натисніть для вибору зображення (найкращий результат при співвідношенні сторін 3:1)";
  position: absolute;
  width: 80%;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 1200px) and (orientation: portrait) {
  .postListImage::after {
    width: 100%;
    top: 85%;
    font-size: small;
  }
}
@media only screen and (max-width: 400px) and (orientation: portrait) {
  .postListImage::after {
    top: 75%;
    font-size: smaller;
  }
}
.postListImage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0.2rem;
  border: none;
  border-radius: 1rem 0.5rem;
  opacity: 0;
  animation: fade-in 1.5s 0s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.postList h1 {
  text-align: center;
  font-size: 1.7rem;
  color: #fffff0;
  margin: 2rem 0 1rem 0;
}
.postList h2 {
  text-align: center;
  font-size: 1.3rem;
  color: #a0a0a0;
  margin: 0.5rem 0;
}
.postList .post {
  display: flex;
  padding: 15px;
  background: #0a0a0a;
  border: 0.125rem solid #ff7f50;
  box-shadow: 0 0 0.5rem #0a0a0a;
  border-radius: 1rem 0.5rem;
  margin: 15px 0 0 0;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  opacity: 0;
  animation: fade-in 1s 0s ease-in-out;
  animation-fill-mode: forwards;
  /* allow to move parts of words to a new line. */
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 1200px) and (orientation: portrait) {
  .postList .post {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 1200px) and (orientation: portrait) {
  .postList .post__btns {
    align-self: flex-end;
  }
}
.postList .post__content {
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.postList .post__content ul {
  font-size: smaller;
}
.postList .post:nth-last-of-type(1) {
  margin-bottom: 20vh;
}
.postList .post > * :not(button) {
  -webkit-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}
@media only screen and (max-width: 600px) and (orientation: portrait) {
  .postList .post > * :not(button) {
    word-break: break-all;
  }
}

::-webkit-scrollbar {
  width: 1rem;
  background-color: rgba(10, 10, 10, 0.5);
  border-radius: 1rem 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #1c1c1c;
  border-radius: 1rem 0.5rem;
}

::-webkit-scrollbar-button {
  display: none;
}

.userArea {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
  min-height: 100%;
  padding: 1.5rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: url("../assets/logo/logo.svg") no-repeat bottom right/33vmin #1c1c1c;
  box-shadow: 0 0 0.2rem #313131;
  border-radius: 0.5rem;
}
.userArea .imageWrapper {
  position: relative;
  width: 100%;
  padding-top: 33.3333333333%;
  border: 0.125rem solid #ff7f50;
  box-shadow: 0 0 0.5rem #0a0a0a;
  background-color: #0a0a0a;
  border-radius: 1rem 0.5rem;
  opacity: 0;
  animation: fade-in 1s 0.5s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.userArea .imageWrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: none;
  border-radius: 1.8rem 1.3rem;
}
.userArea .imageWrapper img::before {
  color: #ff7f50;
  font-size: large;
  opacity: 0.5;
  text-align: center;
  content: "Завантаження...";
  position: absolute;
  width: 100%;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 400px) and (orientation: portrait) {
  .userArea .imageWrapper img::before {
    font-size: smaller;
  }
}
.userArea .titleWrapper {
  width: 100%;
  text-align: center;
  opacity: 0;
  animation: fade-in 1s 1s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.userArea .titleWrapper h1 {
  text-shadow: 0.125rem 0.125rem 0.125rem #0a0a0a;
  font-size: 1.6rem;
}
.userArea .questionsWrapper {
  width: 100%;
  padding: 0 0 25vmin 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.userArea .questionsWrapper .questAnswerGroup {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 3rem;
  color: #6d6d6d;
  border: 0.125rem solid #ff7f50;
  box-shadow: 0 0 0.5rem #0a0a0a;
  background-color: #0a0a0a;
  border-radius: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  opacity: 0;
  animation: fade-in 1s 1.5s ease-in-out;
  animation-fill-mode: forwards;
}
@media screen and (max-width: 900px) {
  .userArea .questionsWrapper .questAnswerGroup {
    padding: 2rem;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.userArea .questionsWrapper .questAnswerGroup .questions {
  width: 100%;
}
.userArea .questionsWrapper .questAnswerGroup form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.userArea .questionsWrapper .questAnswerGroup .answers {
  width: 100%;
}
.userArea .questionsWrapper .questAnswerGroup .buttons {
  align-self: flex-end;
  opacity: 0;
  animation: fade-in 1s 2s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.userArea .questionsWrapper .emptyQuestions {
  width: 100%;
  text-align: center;
  opacity: 0;
  animation: fade-in 1s 1.5s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.userArea a {
  position: absolute;
  bottom: 1vmin;
  right: 4vmin;
  display: block;
  color: #ff7f50;
  font-size: small;
  text-decoration: none;
  text-shadow: none;
  transition: color 0.3s;
}
@media only screen and (max-width: 1200px) and (orientation: portrait) {
  .userArea a {
    font-size: smaller;
    margin: 0 0.2rem 0 0;
  }
}
.userArea a:hover {
  color: #a0a0a0;
}

html {
  font-size: 100%;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 320px) {
  html {
    font-size: 50%;
  }
}