* {
  padding: 0;
  margin: 0;
  bottom: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
select,
option,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

button {
  background-color: transparent;
  cursor: pointer;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url(../assets/fonts/Inter-VariableFont.ttf) format("truetype");
}
* {
  font-family: "Inter", sans-serif;
}

body {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background-color: #0a0a0a;
  color: #a0a0a0;
}
::-webkit-scrollbar {
  width: 1rem;
  background-color: rgba(109, 109, 109, 0.5);
}

::-webkit-scrollbar-thumb {
  background-color: #6d6d6d;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-button {
  display: none;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 50vw;
  position: relative;
}
.App hr {
  border: #fffff0 1px solid;
  margin: 0.5rem 0;
}

.postList h1 {
  text-align: center;
  color: #fffff0;
  margin: 1rem 0;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid #ff6600;
  margin: 15px 0 0 0;
  justify-content: space-between;
  align-items: center;
}

.post:nth-last-of-type(1) {
  margin-bottom: 25vh;
}

.post > * :not(button) {
  -webkit-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  word-break: break-all;
}