@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  bottom: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
select,
option,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

button {
  background-color: transparent;
  cursor: pointer;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url(../assets/fonts/Inter-VariableFont.ttf) format("truetype");
}
* {
  font-family: "Inter", sans-serif;
}

body {
  overflow-x: hidden;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background-color: #0a0a0a;
  color: #a0a0a0;
}
body #root {
  display: flex;
  justify-content: center;
}
body .App {
  width: 50vw;
  height: 100vh;
  position: relative;
  background: #1c1c1c url("../assets/logo/logo.svg") no-repeat center center;
}
@media only screen and (max-width: 1200px) and (orientation: landscape) {
  body .App {
    width: 100vw;
  }
}
@media only screen and (max-width: 1200px) and (orientation: portrait) {
  body .App {
    width: 100vw;
  }
}
body .App .welcomeButtons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 55vmin;
}
body .App .welcomeButtons :first-child {
  scale: 2.8;
  line-height: 3rem;
  box-shadow: 0 0 0.5rem #0a0a0a;
}
@media only screen and (max-width: 1200px) {
  body .App .welcomeButtons :first-child {
    scale: 1.5;
  }
}
body .App .welcomeButtons :last-child {
  scale: 1.5;
  box-shadow: 0 0 0.5rem #0a0a0a;
}
@media only screen and (max-width: 1200px) {
  body .App .welcomeButtons :last-child {
    scale: 1;
  }
}
body .App .welcomeModal {
  width: 100%;
  height: 40vmin;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 0 5vmin 0;
  background: url("../assets/images/google.svg") no-repeat center 25%;
}
@media only screen and (max-width: 1200px) {
  body .App .welcomeModal {
    width: 100%;
    height: 50vmin;
    background: url("../assets/images/google.svg") no-repeat center top;
  }
}
body .App .welcomeModal h2 {
  text-align: center;
  color: maroon;
  margin: 1rem 0 0 0;
}
body .App .welcomeModal p {
  text-align: center;
  margin: 1rem;
}
@media only screen and (max-width: 1200px) {
  body .App .welcomeModal p {
    margin: 0.5rem;
  }
}
body .App .welcomeModal button {
  line-height: 3rem;
  margin: 0.5rem;
}
@media only screen and (max-width: 1200px) {
  body .App .welcomeModal button {
    margin: 0 0.5rem;
  }
}

.controlPanel {
  position: fixed;
  top: 0;
  left: 50;
  width: 50vw;
  height: 13rem;
  padding: 1.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  background: #1c1c1c url("../assets/logo/logo.svg") no-repeat 100% -10%/16%;
  box-shadow: 0 0 0.2rem #313131;
  z-index: 1;
}
.controlPanel input,
.controlPanel select,
.controlPanel button {
  box-shadow: 0 0 0.5rem #0a0a0a;
}
@media only screen and (max-width: 1200px) and (orientation: landscape) {
  .controlPanel {
    width: 95vw;
  }
}
@media only screen and (max-width: 1200px) and (orientation: portrait) {
  .controlPanel {
    width: 99vw;
    height: 14rem;
  }
}
.controlPanel hr {
  border: #fffff0 1px solid;
  margin: 0.8rem 0 0.5rem 0;
  box-shadow: 0 0 0.5rem #0a0a0a;
}
.controlPanel .controlPanel__Buttons {
  margin: 0 25% 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
@media only screen and (max-width: 1440px) and (orientation: landscape) {
  .controlPanel .controlPanel__Buttons {
    margin: 0 15% 0 0;
  }
  .controlPanel .controlPanel__Buttons button {
    font-size: small;
  }
}
@media only screen and (max-width: 1200px) and (orientation: portrait) {
  .controlPanel .controlPanel__Buttons {
    margin: 0 15% 0 0;
  }
  .controlPanel .controlPanel__Buttons button {
    font-size: smaller;
  }
}

.postList {
  position: relative;
  min-height: 15rem;
  margin: 14rem 0 0 0;
  padding: 1rem;
  text-shadow: 2px 2px 2px #0a0a0a;
  background: url("../assets/logo/logo.svg") no-repeat bottom right/30% #1c1c1c;
  box-shadow: 0 0 0.2rem #313131;
  border-radius: 0.5rem;
}
.postList a {
  display: block;
  color: #ff6600;
  text-align: right;
  margin: 0 1rem 0 0;
  font-size: small;
  text-decoration: none;
  text-shadow: none;
  transition: color 0.3s;
}
@media only screen and (max-width: 1200px) and (orientation: portrait) {
  .postList a {
    font-size: smaller;
    margin: 0 0.2rem 0 0;
  }
}
.postList a:hover {
  color: #a0a0a0;
}
.postListImage {
  position: relative;
  width: 100%;
  padding-top: 33.3333333333%;
  border: 0.125rem solid #ff6600;
  box-shadow: 0 0 0.5rem #0a0a0a;
  border-radius: 1rem 0.5rem;
  cursor: pointer;
}
.postListImage::before {
  color: #ff6600;
  font-size: x-large;
  opacity: 0.5;
  text-align: center;
  content: "Триває обробка...";
  position: absolute;
  width: 100%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.postListImage::after {
  color: #6d6d6d;
  opacity: 0.5;
  text-align: center;
  content: "Натисніть для вибору зображення (найкращий результат при співвідношенні сторін 3:1)";
  position: absolute;
  width: 80%;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 1200px) and (orientation: portrait) {
  .postListImage::after {
    width: 100%;
    top: 85%;
    font-size: small;
  }
}
@media only screen and (max-width: 400px) and (orientation: portrait) {
  .postListImage::after {
    top: 75%;
    font-size: smaller;
  }
}
.postListImage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0.2rem;
  border: none;
  border-radius: 1rem 0.5rem;
}
.postList h1 {
  text-align: center;
  font-size: 1.7rem;
  color: #fffff0;
  margin: 1rem 0;
}
.postList h2 {
  text-align: center;
  font-size: 1.3rem;
  color: #a0a0a0;
  margin: 0.5rem 0;
}
.postList .post {
  display: flex;
  padding: 15px;
  background: #0a0a0a;
  border: 0.125rem solid #ff6600;
  box-shadow: 0 0 0.5rem #0a0a0a;
  border-radius: 1rem 0.5rem;
  margin: 15px 0 0 0;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  /* allow to move parts of words to a new line. */
}
@media only screen and (max-width: 1200px) and (orientation: portrait) {
  .postList .post {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 1200px) and (orientation: portrait) {
  .postList .post__btns {
    align-self: flex-end;
  }
}
.postList .post__content {
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.postList .post__content ul {
  font-size: smaller;
}
.postList .post:nth-last-of-type(1) {
  margin-bottom: 20vh;
}
.postList .post > * :not(button) {
  -webkit-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}
@media only screen and (max-width: 600px) and (orientation: portrait) {
  .postList .post > * :not(button) {
    word-break: break-all;
  }
}

::-webkit-scrollbar {
  width: 1rem;
  background-color: rgba(10, 10, 10, 0.5);
  border-radius: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background-color: #1c1c1c;
  border-radius: 0.8rem;
}

::-webkit-scrollbar-button {
  display: none;
}

html {
  font-size: 100%;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 320px) {
  html {
    font-size: 50%;
  }
}