@import '../styles/reset';
@import '../styles/colors';
@import '../styles/fonts';
@import '../styles/body';
@import '../styles/postList';
@import '../styles/scroll';

html {
    font-size: 100%;
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 75%;
    }
}

@media only screen and (max-width: 320px) {
    html {
        font-size: 50%;
    }
}
