@import '../styles/reset';
@import '../styles/colors';
@import '../styles/fonts';
@import '../styles/body';
@import '../styles/controlPanel';
@import '../styles/postList';
@import '../styles/scroll';
@import '../styles/userArea';

html {
    font-size: 100%;
}

@media only screen and (max-width: 1440px) {
    html {
        font-size: 90%;
    }
}

@media only screen and (max-width: 1200px) {
    html {
        font-size: 80%;
    }
}

@media only screen and (max-width: 992px) {
    html {
        font-size: 70%;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 60%;
    }
}

@media only screen and (max-width: 576px) {
    html {
        font-size: 50%;
    }
}

@media only screen and (max-width: 480px) {
    html {
        font-size: 40%;
    }
}

@media only screen and (max-width: 360px) {
    html {
        font-size: 30%;
    }
}

@media only screen and (max-width: 320px) {
    html {
        font-size: 20%;
    }
}
