.myBtn {
  padding: 0.3rem 1rem;
  border: 1px solid;
  border-radius: 0.8rem 0.5rem;
  text-shadow: 0.1rem 0.1rem 0.1rem #0a0a0a;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.myBtn:hover {
  text-shadow: 0.1rem 0.1rem 0.1rem #1c1c1c;
  opacity: 0.75;
}
.myBtn:disabled {
  text-shadow: none;
  cursor: not-allowed;
}