@import '../../../styles/colors';

.myBtn {
    padding: 0.3rem 1rem;
    color: $color-orange;
    background: $color-dark;
    border: 1px solid $color-orange;
    border-radius: 0.5rem;
    text-shadow: 0.125rem 0.125rem 0.125rem $color-black;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
        background: rgba($color: $color-orange, $alpha: 0.8);
        border: 1px solid $color-gray;
        color: $color-black;
        text-shadow: 0.125rem 0.125rem 0.125rem $color-gray;
    }
}
