@import '../../../styles/colors';

.myInp {
    width: 100%;
    height: 2.1rem;
    padding: 0.3rem 1.2rem;
    margin: 0.3rem 0;
    font-size: 1.1rem;
    text-shadow: 0.125rem 0.125rem 0.125rem $color-black;
    color: $color-gray;
    border: 1px solid $color-orange;
    border-radius: 0.8rem 0.5rem;
    background: $color-gray-darker;

    &::placeholder {
        font-size: inherit;
        color: $color-gray;
    }
}
