.myText {
  width: 100%;
  height: auto;
  resize: none;
  overflow-x: hidden;
  overflow-y: scroll;
  word-wrap: break-word;
  white-space: normal;
  padding: 0.3rem 1.2rem;
  margin: 0.3rem 0;
  border: 1px solid #ff6600;
  border-radius: 0.8rem 0.5rem;
  background: #313131;
  font-size: 1.1rem;
  text-shadow: 0.125rem 0.125rem 0.125rem #0a0a0a;
  color: #a0a0a0;
}
.myText::-moz-placeholder {
  font-size: inherit;
  color: #a0a0a0;
}
.myText::placeholder {
  font-size: inherit;
  color: #a0a0a0;
}
.myText::-webkit-scrollbar {
  width: 1rem;
  background-color: rgba(28, 28, 28, 0.5);
  border-radius: 0.8rem;
}
.myText::-webkit-scrollbar-thumb {
  background-color: #0a0a0a;
  border-radius: 0.8rem;
}
.myText:invalid {
  border: 0.125rem solid red;
}