@import '../../../styles/colors';

.myText {
    width: 100%;
    height: auto;
    resize: none;
    overflow-x: hidden;
    overflow-y: scroll;
    word-wrap: break-word;
    white-space: normal;
    padding: 0.3rem 1.2rem;
    margin: 0.3rem 0;
    border: 1px solid $color-orange;
    border-radius: 0.8rem 0.5rem;
    background: $color-gray-darker;
    box-shadow: 0 0 0.5rem $color-black;

    font-size: 1.1rem;
    text-shadow: 0.125rem 0.125rem 0.125rem $color-black;
    color: $color-gray;

    &::placeholder {
        font-size: inherit;
        color: $color-gray;
    }

    &::-webkit-scrollbar {
        width: 0.8rem;
        background-color: rgba($color: $color-gray-darker, $alpha: 0.5);
        border-radius: 0.8rem 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color-dark;
        border-radius: 0.8rem 0.5rem;
    }

    &:invalid {
        border: 1px solid $color-red;
    }
}
